---
type: utility
contextData: "typeahead-bp"
layout: "lyt-docs"
publish: true
title: "Utilities | typeahead"
displayName: u-type-ahead
scssFiles:
- _u-typeahead.scss
jsFiles:
- typeahead.js
requirements:
- c-form__input
---
<div class="u-typeahead{{#if settings.typeaheadClasses}} {{settings.typeaheadClasses}}{{/if}}"
     data-js-module="typeahead"{{#if settings.typeaheadJsOptions}}
     data-js-options='{{stringify settings.typeaheadJsOptions}}'{{/if}}>
	{{! WrapWith START:  }}
	{{#wrapWith "c-form"}}
		{{> c-form__input }}
	{{/wrapWith}}
	{{! WrapWith END:  }}
	<ul class="typeahead__list" role="listbox" data-js-item="typeahead__list" data-js-height="{{ settings.height }}"></ul>
</div>
