<div class="u-type-ahead{{#if settings.typeAheadClasses}} {{settings.typeAheadClasses}}{{/if}}"
     data-js-module="type-ahead"{{#if settings.typeAheadJsOptions}}
     data-js-options='{{stringify settings.typeAheadJsOptions}}'{{/if}}>
	{{! WrapWith START:  }}
	{{#wrapWith "c-form"}}
		{{> c-form__input }}
	{{/wrapWith}}
	{{! WrapWith END:  }}
	<ul class="type-ahead__list" role="listbox" data-js-item="type-ahead__list" data-js-height="{{ settings.height }}"></ul>
</div>
